<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 d-flex justify-content-center justify-content-md-end">
        <img src="assets/logo.svg" alt="@angular-material-extensions/cards logo" class="logo">
      </div>
      <div class="col-sm-8 text-center text-md-left">
        <h1>@angular-material-extensions/cards</h1>
        <p>Set of reusable cards templates built with angular material deisgn</p>
        <p>Scroll down to see it in action!</p>
        <p class="buttons">
          <a class="btn btn-outline-primary btn-lg" href="https://github.com/angular-material-extensions/card"
             target="_blank"><i class="fa fa-github fa-lg"></i> Code on Github</a>
          <a class="btn btn-outline-primary btn-lg" href="doc/index.html" target="_blank"><i
            class="fa fa-book fa-lg"></i> Documentation</a>
        </p>
      </div>
    </div>

  </div>
</div>

<section class="home">
  <div class="container">

    <div fxLayout="row wrap" fxLayoutAlign="center" fxLayoutGap="3rem">
      <mat-card fxLayout="column" fxLayoutAlign="start center" class="pricing-card">
        <mat-card-title-group>
          <mat-card-title class="plan">Starter</mat-card-title>
          <mat-card-title class="price">50 <span class="value">€</span>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">order now</button>
        </mat-card-actions>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="start center">
        <mat-card-title-group>
          <mat-card-title>Card with title</mat-card-title>
          <mat-card-title class="title">50€</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
          <button mat-raised-button color="primary">order now</button>
        </mat-card-actions>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="start center">
        <mat-card-title-group>
          <mat-card-title>Card with title</mat-card-title>
          <mat-card-title class="title">50€</mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions fxLayoutAlign="end">
          <button mat-raised-button color="primary">order now</button>
        </mat-card-actions>
      </mat-card>

      <mat-card fxLayout="column" fxLayoutAlign="start center" class="pricing-card">
        <mat-card-title-group>
          <mat-card-title class="plan">Starter</mat-card-title>
          <mat-card-title class="price">50 <span class="value">€</span>
            <mat-divider></mat-divider>
          </mat-card-title>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
          <mat-card-subtitle>Subtitle</mat-card-subtitle>
        </mat-card-title-group>
        <mat-card-content>

        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">order now</button>
        </mat-card-actions>
      </mat-card>
    </div>

  </div>
</section>
